workflow.json
{
  "name": "Buying Signal Radar v1.0",
  "nodes": [
    {
      "id": "fd4c4048",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -1300
      ],
      "parameters": {
        "content": "# 🎯 BUYING SIGNAL RADAR v1.0\n\n**AI-powered intent detection across 6 data sources.** Finds people who are ready to buy RIGHT NOW, scores them by intent, and auto-reaches out before your competitors even know they exist.\n\n• 6 Signal Branches → Intent Scoring Engine → AI Research → Personalized Outreach → Telegram Alert\n\n`Built by @ayushopchauhan` │ `Free to use & customize` │ `github.com/ayushopchauhan/buying-signal-radar`",
        "height": 240,
        "width": 3700,
        "color": 5
      }
    },
    {
      "id": "7b8c6bce",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        -1020
      ],
      "parameters": {
        "content": "## 📡 Branch 1: Reddit Intent Monitor\n\nScans Reddit for posts where people are **actively asking** for your service. These are the warmest leads possible.\n\n`Signal Strength: 9/10` │ `Source: Reddit JSON API (free)`",
        "height": 340,
        "width": 1180,
        "color": 2
      }
    },
    {
      "id": "db8c7a70",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        -500
      ],
      "parameters": {
        "content": "## ⭐ Branch 2: Competitor Review Monitor\n\nWatches competitors' Google Reviews. A 1-2 star review = an unhappy customer actively looking for an alternative. **Your warmest prospect.**\n\n`Signal Strength: 8/10` │ `Source: Google Places API`",
        "height": 340,
        "width": 1180,
        "color": 3
      }
    },
    {
      "id": "bdc4e287",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        20
      ],
      "parameters": {
        "content": "## 💼 Branch 3: Hiring Signal Detector\n\nCompanies posting jobs in your service area = budget allocated RIGHT NOW. Hiring a Marketing Manager? They need marketing services.\n\n`Signal Strength: 7/10` │ `Source: Google Jobs Search`",
        "height": 340,
        "width": 1180,
        "color": 6
      }
    },
    {
      "id": "c9b28f72",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        540
      ],
      "parameters": {
        "content": "## 🔄 Branch 4: Website Change Detector\n\nMonitors prospect websites for changes. A redesign or new content = they're investing in their web presence. **Perfect timing to reach out.**\n\n`Signal Strength: 5/10` │ `Source: HTTP Hash Comparison`",
        "height": 340,
        "width": 1180,
        "color": 4
      }
    },
    {
      "id": "d88fcaf3",
      "name": "Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        1060
      ],
      "parameters": {
        "content": "## 📰 Branch 5: Funding & News Monitor\n\nTracks when companies raise funding, launch products, or expand. **Money coming in = money going out** on services like yours.\n\n`Signal Strength: 7/10` │ `Source: Google News RSS (free)`",
        "height": 340,
        "width": 1180,
        "color": 1
      }
    },
    {
      "id": "f4c95e58",
      "name": "Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        1580
      ],
      "parameters": {
        "content": "## 🐦 Branch 6: Social Listening\n\nMonitors social platforms for buying intent: complaints about providers, questions about solutions, or expressions of need.\n\n`Signal Strength: 6/10` │ `Source: Social Search API`",
        "height": 340,
        "width": 1180,
        "color": 5
      }
    },
    {
      "id": "e4c71792",
      "name": "Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1660,
        -200
      ],
      "parameters": {
        "content": "## 🧠 INTENT SCORING ENGINE\n\nCombines all 6 signal branches into a unified intent score (0-10).\n\nLeads above threshold get auto-researched and contacted.\n\n**Scoring weights:**\n• Reddit Intent = 9\n• Bad Review = 8\n• Hiring Signal = 7\n• Funding/News = 7\n• Social Intent = 6\n• Website Change = 5\n\n`Threshold: 5.0 (configurable)`",
        "height": 560,
        "width": 460,
        "color": 2
      }
    },
    {
      "id": "2d25afdd",
      "name": "Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2540,
        -200
      ],
      "parameters": {
        "content": "## 🚀 AI-POWERED OUTREACH\n\n**For every high-intent lead:**\n\n1️⃣ AI researches their company + context\n2️⃣ AI writes hyper-personalized email using the SPECIFIC signal that triggered\n3️⃣ Email sent via Gmail\n4️⃣ Telegram alert with full context\n5️⃣ Everything logged to Google Sheets\n\n`The email references WHY you're reaching out - because you saw a real signal, not because they're on a list.`",
        "height": 560,
        "width": 900,
        "color": 4
      }
    },
    {
      "id": "d2af967c",
      "name": "Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -200
      ],
      "parameters": {
        "content": "## ⏰ TRIGGER & CONFIG\n\nRuns every 6 hours.\n\nEdit the **Configuration** node to set your:\n• Industry keywords\n• Competitor names\n• Target job titles\n• Prospect URLs to monitor\n• Email/Telegram settings",
        "height": 440,
        "width": 520,
        "color": 7
      }
    },
    {
      "id": "60c9a450",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        660
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "ef38d537",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        660
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"industry\": \"web design\",\n  \"service_keywords\": [\n    \"web design\",\n    \"web development\",\n    \"website redesign\",\n    \"WordPress\",\n    \"Shopify\",\n    \"UI/UX\"\n  ],\n  \"search_queries_reddit\": [\n    \"looking for web designer\",\n    \"need a new website\",\n    \"recommend web developer\",\n    \"website redesign help\",\n    \"need help with my website\"\n  ],\n  \"competitor_place_ids\": [\n    \"REPLACE_WITH_GOOGLE_PLACE_ID_1\",\n    \"REPLACE_WITH_GOOGLE_PLACE_ID_2\",\n    \"REPLACE_WITH_GOOGLE_PLACE_ID_3\"\n  ],\n  \"competitor_names\": [\n    \"Competitor Agency 1\",\n    \"Competitor Agency 2\"\n  ],\n  \"job_keywords\": [\n    \"Marketing Manager\",\n    \"Web Developer\",\n    \"Digital Marketing\",\n    \"E-commerce Manager\",\n    \"Brand Manager\"\n  ],\n  \"prospect_urls\": [\n    \"https://example-prospect-1.com\",\n    \"https://example-prospect-2.com\",\n    \"https://example-prospect-3.com\"\n  ],\n  \"news_keywords\": [\n    \"web design agency funding\",\n    \"digital agency acquisition\",\n    \"ecommerce growth\"\n  ],\n  \"social_keywords\": [\n    \"hate my website\",\n    \"website is slow\",\n    \"need new website\",\n    \"web designer recommendations\"\n  ],\n  \"score_threshold\": 5,\n  \"from_name\": \"Your Name\",\n  \"from_email\": \"you@yourdomain.com\",\n  \"calendar_link\": \"https://cal.com/you/15min\",\n  \"openai_api_key\": \"REPLACE_WITH_YOUR_OPENAI_KEY\",\n  \"google_places_api_key\": \"REPLACE_WITH_YOUR_GOOGLE_API_KEY\",\n  \"telegram_bot_token\": \"REPLACE_WITH_YOUR_BOT_TOKEN\",\n  \"telegram_chat_id\": \"REPLACE_WITH_YOUR_CHAT_ID\"\n}",
        "options": {}
      }
    },
    {
      "id": "1d4ebd7c",
      "name": "Reddit Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -900
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.reddit.com/search.json?q={{ encodeURIComponent($json.search_queries_reddit[0] + \" OR \" + $json.search_queries_reddit[1] + \" OR \" + $json.search_queries_reddit[2]) }}&sort=new&limit=25&t=day",
        "options": {
          "timeout": 15000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "BuyingSignalRadar/1.0"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "5c6a7bdc",
      "name": "Parse Reddit Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -900
      ],
      "parameters": {
        "jsCode": "// Parse Reddit search results into structured lead signals\nconst data = $input.first().json;\nconst posts = data?.data?.children || [];\nconst config = $('Configuration').first().json;\n\nconst signals = [];\nconst now = Math.floor(Date.now() / 1000);\nconst oneDayAgo = now - 86400;\n\nfor (const post of posts) {\n  const p = post.data;\n\n  // Skip old posts\n  if (p.created_utc < oneDayAgo) continue;\n\n  // Skip posts from bots or removed content\n  if (p.author === '[deleted]' || p.author === 'AutoModerator') continue;\n  if (p.removed_by_category) continue;\n\n  // Calculate relevance score based on keyword matches\n  const text = (p.title + ' ' + (p.selftext || '')).toLowerCase();\n  const keywords = config.service_keywords || [];\n  const matchCount = keywords.filter(kw => text.includes(kw.toLowerCase())).length;\n\n  if (matchCount === 0) continue;\n\n  signals.push({\n    json: {\n      signal_type: 'reddit_intent',\n      signal_strength: 9,\n      source: 'Reddit',\n\n      // Lead info\n      lead_name: p.author,\n      lead_url: 'https://reddit.com/user/' + p.author,\n      company_name: null,\n      company_url: null,\n\n      // Signal context\n      title: p.title,\n      body: (p.selftext || '').substring(0, 500),\n      post_url: 'https://reddit.com' + p.permalink,\n      subreddit: p.subreddit,\n      upvotes: p.ups,\n      comments: p.num_comments,\n      posted_at: new Date(p.created_utc * 1000).toISOString(),\n\n      // Scoring inputs\n      keyword_matches: matchCount,\n      has_budget_mention: /budget|price|cost|pay|afford|invest/i.test(text),\n      is_urgent: /asap|urgent|quickly|fast|deadline|rush/i.test(text),\n\n      // For email personalization\n      signal_summary: 'Posted on r/' + p.subreddit + ': \"' + p.title.substring(0, 100) + '\"',\n      reach_out_reason: 'They are actively looking for ' + config.industry + ' help on Reddit'\n    }\n  });\n}\n\nreturn signals.length > 0 ? signals : [{ json: { signal_type: 'reddit_intent', no_results: true } }];"
      }
    },
    {
      "id": "1b1be865",
      "name": "Filter Reddit Signals",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1160,
        -900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e96c45a",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "0e0e65bc",
      "name": "Fetch Competitor Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -380
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.competitor_place_ids[0] }}&fields=reviews,name,url&key={{ $json.google_places_api_key }}",
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "cc524a66",
      "name": "Parse Bad Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -380
      ],
      "parameters": {
        "jsCode": "// Extract 1-2 star reviews from competitors - these are your prospects\nconst data = $input.first().json;\nconst result = data?.result || {};\nconst reviews = result.reviews || [];\nconst competitorName = result.name || 'Unknown Competitor';\n\nconst signals = [];\nconst oneWeekAgo = Date.now() - (7 * 86400 * 1000);\n\nfor (const review of reviews) {\n  // Only interested in unhappy customers (1-2 stars)\n  if (review.rating > 2) continue;\n\n  // Only recent reviews\n  const reviewDate = new Date(review.time * 1000);\n  if (reviewDate.getTime() < oneWeekAgo) continue;\n\n  signals.push({\n    json: {\n      signal_type: 'bad_competitor_review',\n      signal_strength: 8,\n      source: 'Google Reviews',\n\n      // Lead info\n      lead_name: review.author_name,\n      lead_url: review.author_url || null,\n      company_name: null,\n      company_url: null,\n\n      // Signal context\n      competitor_name: competitorName,\n      review_rating: review.rating,\n      review_text: review.text,\n      review_date: reviewDate.toISOString(),\n\n      // For email personalization\n      signal_summary: review.rating + '-star review of ' + competitorName + ': \"' + (review.text || '').substring(0, 100) + '\"',\n      reach_out_reason: 'They left a negative review on your competitor (' + competitorName + ') and may be looking for a better alternative'\n    }\n  });\n}\n\nreturn signals.length > 0 ? signals : [{ json: { signal_type: 'bad_competitor_review', no_results: true } }];"
      }
    },
    {
      "id": "bd277f76",
      "name": "Filter Review Signals",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1160,
        -380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40f37d92",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "8acc7112",
      "name": "Search Job Postings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        140
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.google.com/search?q={{ encodeURIComponent(\"site:linkedin.com/jobs \" + $json.job_keywords.join(\" OR \")) }}&tbs=qdr:d&num=20",
        "options": {
          "timeout": 15000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "7282bbf8",
      "name": "Parse Job Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        140
      ],
      "parameters": {
        "jsCode": "// Parse job listing search results for hiring signals\n// NOTE: For production, use LinkedIn API, Indeed API, or a job board aggregator\n// This demo parses Google search results for job postings\n\nconst html = $input.first().json.data || '';\nconst config = $('Configuration').first().json;\nconst signals = [];\n\n// Extract job listing snippets from search results\n// Pattern: company name + job title + location\nconst jobPattern = /<a[^>]*href=\"([^\"]*linkedin\\.com\\/jobs[^\"]*)\"[^>]*>([^<]*)<\\/a>/gi;\nlet match;\nconst seen = new Set();\n\nwhile ((match = jobPattern.exec(html)) !== null) {\n  const url = match[1];\n  const title = match[2].replace(/<[^>]*>/g, '');\n\n  if (seen.has(url)) continue;\n  seen.add(url);\n\n  // Extract company name from title (usually \"Job Title at Company\")\n  const parts = title.split(/\\s+at\\s+|\\s+-\\s+|\\s+\\|\\s+/i);\n  const jobTitle = parts[0]?.trim() || title;\n  const companyName = parts[1]?.trim() || 'Unknown';\n\n  // Check if job title relates to our service area\n  const isRelevant = config.job_keywords.some(kw =>\n    title.toLowerCase().includes(kw.toLowerCase())\n  );\n\n  if (!isRelevant) continue;\n\n  signals.push({\n    json: {\n      signal_type: 'hiring_signal',\n      signal_strength: 7,\n      source: 'Job Board',\n\n      lead_name: null,\n      lead_url: null,\n      company_name: companyName,\n      company_url: null,\n\n      job_title: jobTitle,\n      job_url: url,\n\n      signal_summary: companyName + ' is hiring: \"' + jobTitle + '\"',\n      reach_out_reason: 'They are hiring for ' + jobTitle + ', which means they have budget allocated for ' + config.industry + ' and may need external help'\n    }\n  });\n}\n\n// If no results from HTML parsing, provide a demo signal structure\nif (signals.length === 0) {\n  return [{ json: { signal_type: 'hiring_signal', no_results: true } }];\n}\n\nreturn signals;"
      }
    },
    {
      "id": "20755cc8",
      "name": "Filter Job Signals",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1160,
        140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b0671aa",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f6b761fc",
      "name": "Load Prospect URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        660
      ],
      "parameters": {
        "jsCode": "// Load prospect URLs from configuration\n// Each URL will be fetched and compared against its previous hash\nconst config = $('Configuration').first().json;\nconst urls = config.prospect_urls || [];\n\nreturn urls.map(url => ({\n  json: { url, signal_type: 'website_change' }\n}));"
      }
    },
    {
      "id": "8216fd5b",
      "name": "Fetch Website Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        660
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 10000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "68511df8",
      "name": "Detect Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        660
      ],
      "parameters": {
        "jsCode": "// Compare current page content hash with stored version\n// Uses a simple hash to detect meaningful changes\n// In production, store hashes in Supabase/database between runs\n\nconst items = $input.all();\nconst signals = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || '';\n  const url = item.json.url || 'unknown';\n\n  if (!html || html.length < 100) continue;\n\n  // Extract meaningful content (strip scripts, styles, whitespace)\n  const content = html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 5000);\n\n  // Simple hash for change detection\n  let hash = 0;\n  for (let i = 0; i < content.length; i++) {\n    const char = content.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32-bit integer\n  }\n\n  // Extract page title\n  const titleMatch = html.match(/<title[^>]*>([^<]*)<\\/title>/i);\n  const pageTitle = titleMatch ? titleMatch[1].trim() : url;\n\n  // NOTE: In production, compare this hash against stored value in database\n  // For demo, we flag all sites as \"checked\" and provide the hash\n  // To detect ACTUAL changes, store hashes between runs:\n  //   1. Query Supabase for previous hash by URL\n  //   2. Compare with current hash\n  //   3. If different, flag as changed\n  //   4. Update stored hash\n\n  signals.push({\n    json: {\n      signal_type: 'website_change',\n      signal_strength: 5,\n      source: 'Website Monitor',\n\n      lead_name: null,\n      lead_url: null,\n      company_name: pageTitle,\n      company_url: url,\n\n      page_title: pageTitle,\n      content_hash: hash.toString(),\n      content_length: content.length,\n      checked_at: new Date().toISOString(),\n\n      // This will be true when a change is detected\n      // For demo purposes, set to false (no previous hash to compare)\n      change_detected: false,\n\n      signal_summary: 'Website monitored: ' + pageTitle,\n      reach_out_reason: 'Their website recently changed, indicating active investment in their web presence'\n    }\n  });\n}\n\n// Only pass through items where change was detected\nconst changed = signals.filter(s => s.json.change_detected);\nreturn changed.length > 0 ? changed : [{ json: { signal_type: 'website_change', no_results: true } }];"
      }
    },
    {
      "id": "1848cbb1",
      "name": "Fetch Google News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1180
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.news_keywords.join(\" OR \")) }}&hl=en-US&gl=US&ceid=US:en",
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "bd77e0d2",
      "name": "Parse News Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        1180
      ],
      "parameters": {
        "jsCode": "// Parse Google News RSS feed for funding, acquisition, and growth signals\nconst xml = $input.first().json.data || '';\nconst config = $('Configuration').first().json;\nconst signals = [];\n\n// Simple XML parsing for RSS items\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/gi;\nconst titleRegex = /<title><!\\[CDATA\\[([^\\]]*?)\\]\\]>|<title>([^<]*?)<\\/title>/i;\nconst linkRegex = /<link>([^<]*)<\\/link>/i;\nconst pubDateRegex = /<pubDate>([^<]*)<\\/pubDate>/i;\nconst descRegex = /<description><!\\[CDATA\\[([^\\]]*?)\\]\\]>|<description>([^<]*?)<\\/description>/i;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n\n  const titleM = item.match(titleRegex);\n  const linkM = item.match(linkRegex);\n  const dateM = item.match(pubDateRegex);\n  const descM = item.match(descRegex);\n\n  const title = (titleM ? (titleM[1] || titleM[2]) : '').trim();\n  const link = (linkM ? linkM[1] : '').trim();\n  const pubDate = dateM ? new Date(dateM[1]) : new Date();\n  const desc = (descM ? (descM[1] || descM[2]) : '').replace(/<[^>]*>/g, '').trim();\n\n  // Skip if older than 48 hours\n  if (Date.now() - pubDate.getTime() > 48 * 3600 * 1000) continue;\n\n  // Detect signal type from content\n  const text = (title + ' ' + desc).toLowerCase();\n  let newsType = 'general';\n  if (/fund|raise|series [a-f]|seed|invest|venture|capital/i.test(text)) newsType = 'funding';\n  else if (/acqui|merge|buy|purchase/i.test(text)) newsType = 'acquisition';\n  else if (/launch|expand|grow|hire|open|new office/i.test(text)) newsType = 'expansion';\n  else if (/partner|collaborat|deal|contract/i.test(text)) newsType = 'partnership';\n\n  // Extract company name (first proper noun cluster in title)\n  const companyMatch = title.match(/^([A-Z][a-zA-Z]+(\\s+[A-Z][a-zA-Z]+)*)/);\n  const companyName = companyMatch ? companyMatch[0] : title.split(/[:\\-|]/)[0].trim();\n\n  signals.push({\n    json: {\n      signal_type: 'news_signal',\n      signal_strength: newsType === 'funding' ? 8 : 7,\n      source: 'Google News',\n\n      lead_name: null,\n      lead_url: null,\n      company_name: companyName,\n      company_url: null,\n\n      news_title: title,\n      news_url: link,\n      news_type: newsType,\n      news_date: pubDate.toISOString(),\n      news_snippet: desc.substring(0, 300),\n\n      signal_summary: newsType.toUpperCase() + ': ' + title.substring(0, 100),\n      reach_out_reason: newsType === 'funding'\n        ? 'They just raised funding, meaning they have budget to invest in ' + config.industry\n        : 'Recent news suggests they are actively growing and may need ' + config.industry + ' services'\n    }\n  });\n}\n\nreturn signals.length > 0 ? signals : [{ json: { signal_type: 'news_signal', no_results: true } }];"
      }
    },
    {
      "id": "c0b3cdb4",
      "name": "Filter News Signals",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1160,
        1180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "801869ce",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6a08c76a",
      "name": "Social Media Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1700
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.reddit.com/search.json?q={{ encodeURIComponent($json.social_keywords.join(\" OR \")) }}&sort=new&limit=25&t=day",
        "options": {
          "timeout": 15000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "BuyingSignalRadar/1.0"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "fcd2b688",
      "name": "Parse Social Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        1700
      ],
      "parameters": {
        "jsCode": "// Parse social media posts for buying intent signals\n// This branch searches Reddit + social platforms for complaints,\n// questions, and expressions of need related to your service\nconst data = $input.first().json;\nconst posts = data?.data?.children || [];\nconst config = $('Configuration').first().json;\n\nconst signals = [];\nconst now = Math.floor(Date.now() / 1000);\nconst oneDayAgo = now - 86400;\n\nfor (const post of posts) {\n  const p = post.data;\n\n  if (p.created_utc < oneDayAgo) continue;\n  if (p.author === '[deleted]' || p.author === 'AutoModerator') continue;\n\n  const text = (p.title + ' ' + (p.selftext || '')).toLowerCase();\n\n  // Detect complaint vs question vs need\n  let intentType = 'general';\n  if (/hate|terrible|awful|worst|frustrated|disappointed|broken/i.test(text)) intentType = 'complaint';\n  else if (/recommend|suggest|looking for|need|help me find|anyone know/i.test(text)) intentType = 'seeking';\n  else if (/switch|replace|alternative|better than|move away/i.test(text)) intentType = 'switching';\n\n  // Higher strength for switching intent\n  const strength = intentType === 'switching' ? 8 : intentType === 'complaint' ? 7 : 6;\n\n  signals.push({\n    json: {\n      signal_type: 'social_intent',\n      signal_strength: strength,\n      source: 'Social Listening',\n\n      lead_name: p.author,\n      lead_url: 'https://reddit.com/user/' + p.author,\n      company_name: null,\n      company_url: null,\n\n      intent_type: intentType,\n      title: p.title,\n      body: (p.selftext || '').substring(0, 500),\n      post_url: 'https://reddit.com' + p.permalink,\n      subreddit: p.subreddit,\n\n      signal_summary: intentType.toUpperCase() + ' on r/' + p.subreddit + ': \"' + p.title.substring(0, 100) + '\"',\n      reach_out_reason: intentType === 'switching'\n        ? 'They are actively looking to switch from their current provider'\n        : 'They expressed frustration or need related to ' + config.industry\n    }\n  });\n}\n\nreturn signals.length > 0 ? signals : [{ json: { signal_type: 'social_intent', no_results: true } }];"
      }
    },
    {
      "id": "77ae55c4",
      "name": "Filter Social Signals",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1160,
        1700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9cc209c",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "89d423b7",
      "name": "Merge All Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        660
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "fc318759",
      "name": "Calculate Intent Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        660
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// INTENT SCORING ENGINE\n// ============================================================\n// Combines signals from all 6 branches into a unified intent score.\n// Each signal has a base strength (0-10) which gets modified by\n// bonus factors like urgency, budget mentions, and recency.\n//\n// Final score = base_strength + bonuses (capped at 10)\n// Leads above the threshold proceed to AI outreach.\n// ============================================================\n\nconst items = $input.all();\nconst config = $('Configuration').first().json;\nconst threshold = config.score_threshold || 5.0;\nconst scored = [];\n\nfor (const item of items) {\n  const s = item.json;\n\n  // Skip empty/no-result items\n  if (s.no_results) continue;\n  if (!s.signal_type) continue;\n\n  let score = s.signal_strength || 5;\n  const bonuses = [];\n\n  // BONUS: Budget mention (+1.0)\n  if (s.has_budget_mention) {\n    score += 1.0;\n    bonuses.push('budget_mention');\n  }\n\n  // BONUS: Urgency signals (+1.5)\n  if (s.is_urgent) {\n    score += 1.5;\n    bonuses.push('urgent');\n  }\n\n  // BONUS: Multiple keyword matches (+0.5 per extra match)\n  if (s.keyword_matches && s.keyword_matches > 1) {\n    score += (s.keyword_matches - 1) * 0.5;\n    bonuses.push('multi_keyword');\n  }\n\n  // BONUS: Switching intent (+1.0)\n  if (s.intent_type === 'switching') {\n    score += 1.0;\n    bonuses.push('switching_intent');\n  }\n\n  // BONUS: Funding news (+1.5)\n  if (s.news_type === 'funding') {\n    score += 1.5;\n    bonuses.push('funding_news');\n  }\n\n  // BONUS: Very negative review (1 star) (+0.5)\n  if (s.review_rating === 1) {\n    score += 0.5;\n    bonuses.push('very_negative');\n  }\n\n  // Cap at 10\n  score = Math.min(10, Math.round(score * 10) / 10);\n\n  scored.push({\n    json: {\n      ...s,\n      intent_score: score,\n      score_bonuses: bonuses,\n      above_threshold: score >= threshold,\n      scored_at: new Date().toISOString()\n    }\n  });\n}\n\n// Sort by score descending\nscored.sort((a, b) => b.json.intent_score - a.json.intent_score);\n\nreturn scored.length > 0 ? scored : [{ json: { no_signals: true, message: 'No signals detected in this scan' } }];"
      }
    },
    {
      "id": "fff7e480",
      "name": "Filter High Intent",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2360,
        660
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02f1686d",
              "leftValue": "={{ $json.above_threshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c8c694bf",
      "name": "AI: Research Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $(\"Configuration\").first().json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a sales research assistant. Given a buying signal about a potential lead, research what you can infer about them and provide: 1) What they likely need 2) Their probable pain points 3) One specific observation to reference in outreach. Keep it under 150 words. Be specific, not generic.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Signal type: {{ $json.signal_type }}\\nSignal source: {{ $json.source }}\\nLead: {{ $json.lead_name || $json.company_name || 'Unknown' }}\\nCompany: {{ $json.company_name || 'Unknown' }}\\nSignal summary: {{ $json.signal_summary }}\\nReason: {{ $json.reach_out_reason }}\\nAdditional context: {{ $json.body || $json.review_text || $json.news_snippet || $json.title || '' }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c6ac6601",
      "name": "AI: Write Personalized Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        860
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $(\"Configuration\").first().json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a cold outreach expert. Write a short, personalized email (50-70 words max) that references a SPECIFIC buying signal. Rules:\\n- First line references the signal (what you noticed)\\n- Second line connects it to their likely need\\n- Third line offers specific value\\n- End with a question, not a pitch\\n- No exclamation marks, no em-dashes\\n- Sound like a human DM, not a sales email\\n- Include subject line\\n\\nFormat:\\nSUBJECT: [subject]\\n\\n[email body]\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write an outreach email for this lead:\\n\\nSignal: {{ $json.signal_summary }}\\nReason for reaching out: {{ $json.reach_out_reason }}\\nLead: {{ $json.lead_name || $json.company_name || 'Unknown' }}\\nCompany: {{ $json.company_name || 'Unknown' }}\\nResearch: {{ $('AI: Research Lead').first().json.choices[0].message.content || 'No additional research' }}\\nMy service: {{ $('Configuration').first().json.industry }}\\nMy calendar: {{ $('Configuration').first().json.calendar_link }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "140cb88f",
      "name": "Format Outreach Package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        660
      ],
      "parameters": {
        "jsCode": "// Assemble the final outreach package with all context\nconst signal = $('Filter High Intent').first().json;\nconst researchResponse = $('AI: Research Lead').first().json;\nconst emailResponse = $('AI: Write Personalized Email').first().json;\nconst config = $('Configuration').first().json;\n\nconst research = researchResponse?.choices?.[0]?.message?.content || 'Research unavailable';\nconst emailContent = emailResponse?.choices?.[0]?.message?.content || 'Email generation failed';\n\n// Parse subject and body from AI output\nconst subjectMatch = emailContent.match(/SUBJECT:\\s*(.+?)\\n/i);\nconst subject = subjectMatch ? subjectMatch[1].trim() : 'Quick question';\nconst body = emailContent.replace(/SUBJECT:\\s*.+?\\n/i, '').trim();\n\nreturn [{\n  json: {\n    // Lead info\n    lead_name: signal.lead_name || signal.company_name || 'Unknown',\n    lead_email: signal.lead_email || null,\n    company_name: signal.company_name || null,\n    company_url: signal.company_url || null,\n\n    // Signal context\n    signal_type: signal.signal_type,\n    signal_source: signal.source,\n    signal_strength: signal.signal_strength,\n    intent_score: signal.intent_score,\n    score_bonuses: signal.score_bonuses,\n    signal_summary: signal.signal_summary,\n    reach_out_reason: signal.reach_out_reason,\n\n    // AI outputs\n    research_summary: research,\n    email_subject: subject,\n    email_body: body,\n\n    // Metadata\n    generated_at: new Date().toISOString(),\n    from_name: config.from_name,\n    from_email: config.from_email,\n    calendar_link: config.calendar_link\n  }\n}];"
      }
    },
    {
      "id": "a3c03118",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://your-n8n-instance.com/webhook/gmail-send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"toEmail\": \"{{ $json.lead_email || 'MANUAL_LOOKUP_NEEDED' }}\",\n  \"subject\": {{ JSON.stringify($json.email_subject) }},\n  \"body\": {{ JSON.stringify($json.email_body) }},\n  \"fromEmail\": \"{{ $json.from_email }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true,
      "disabled": true
    },
    {
      "id": "4e112519",
      "name": "Telegram: High Intent Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $(\"Configuration\").first().json.telegram_bot_token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Configuration').first().json.telegram_chat_id }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"<b>🚨 HIGH-INTENT LEAD DETECTED</b>\\n\\n<b>Score:</b> {{ $json.intent_score }}/10 {{ $json.score_bonuses?.length > 0 ? '(+' + $json.score_bonuses.join(', +') + ')' : '' }}\\n<b>Source:</b> {{ $json.signal_source }}\\n<b>Type:</b> {{ $json.signal_type }}\\n\\n<b>Lead:</b> {{ $json.lead_name }}\\n<b>Company:</b> {{ $json.company_name || 'Unknown' }}\\n\\n<b>Signal:</b>\\n{{ $json.signal_summary }}\\n\\n<b>Why reach out:</b>\\n{{ $json.reach_out_reason }}\\n\\n<b>AI Research:</b>\\n{{ ($json.research_summary || '').substring(0, 500) }}\\n\\n<b>Draft Email:</b>\\n<i>Subject: {{ $json.email_subject }}</i>\\n{{ ($json.email_body || '').substring(0, 500) }}\\n\\n📊 Generated at {{ $json.generated_at }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "f501277f",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        960
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/YOUR_SHEET_ID/values/Signals!A1:append?valueInputOption=USER_ENTERED",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GOOGLE_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [[\n    \"{{ $json.generated_at }}\",\n    \"{{ $json.signal_type }}\",\n    \"{{ $json.signal_source }}\",\n    {{ $json.intent_score }},\n    \"{{ $json.lead_name }}\",\n    \"{{ $json.company_name || '' }}\",\n    \"{{ $json.signal_summary }}\",\n    \"{{ $json.email_subject }}\",\n    \"{{ ($json.email_body || '').substring(0, 500) }}\",\n    \"pending\"\n  ]]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true,
      "disabled": true
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Reddit Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Competitor Reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Job Postings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Prospect URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Social Media Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search": {
      "main": [
        [
          {
            "node": "Parse Reddit Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Results": {
      "main": [
        [
          {
            "node": "Filter Reddit Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reddit Signals": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitor Reviews": {
      "main": [
        [
          {
            "node": "Parse Bad Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bad Reviews": {
      "main": [
        [
          {
            "node": "Filter Review Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Review Signals": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Job Postings": {
      "main": [
        [
          {
            "node": "Parse Job Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Listings": {
      "main": [
        [
          {
            "node": "Filter Job Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Job Signals": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prospect URLs": {
      "main": [
        [
          {
            "node": "Fetch Website Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website Content": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News RSS": {
      "main": [
        [
          {
            "node": "Parse News Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse News Articles": {
      "main": [
        [
          {
            "node": "Filter News Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter News Signals": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Search": {
      "main": [
        [
          {
            "node": "Parse Social Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Social Signals": {
      "main": [
        [
          {
            "node": "Filter Social Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Social Signals": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Signals": {
      "main": [
        [
          {
            "node": "Calculate Intent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Intent Score": {
      "main": [
        [
          {
            "node": "Filter High Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Intent": {
      "main": [
        [
          {
            "node": "AI: Research Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI: Write Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Research Lead": {
      "main": [
        [
          {
            "node": "Format Outreach Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Write Personalized Email": {
      "main": [
        [
          {
            "node": "Format Outreach Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Outreach Package": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram: High Intent Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "sales"
    },
    {
      "name": "automation"
    },
    {
      "name": "ai"
    },
    {
      "name": "lead-generation"
    },
    {
      "name": "intent-detection"
    }
  ]
}
